<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBheffPZvknfVuHwNZJDHsVLxQtDqHJPDA</string>
	<key>GCM_SENDER_ID</key>
	<string>532703018467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brokerx.io.app</string>
	<key>PROJECT_ID</key>
	<string>brokerx-6f378</string>
	<key>STORAGE_BUCKET</key>
	<string>brokerx-6f378.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532703018467:ios:5d11dbd5d322648bd734d6</string>
</dict>
</plist>